*{
    font-family: 'Amaranth', 'Nunito', sans-serif;
    
}

.blue{
    color: #083A75;
}

.bg-bleu-ciel{
    background-color : #C0D9F7;
}

body{
    border:0px;
    margin:0;
    font-size: 24px;
}

.w-100{
    width: 100%;
}

.m-10{
    margin:  0px 10px;
}

.m-0{
    margin: 0px;
}

.text-center{
    text-align: center;
}

.w-80{
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
}

.w-33{
    width: 32.9%;
}

.fsz200{
    font-size: 200%;
}

.fsz500{
    font-size: 500%;
}

.fwbolder{
    font-weight: bolder;
}

.fwnormal{
    font-weight:normal;
}
.logo{
    width: 200px;
    height: 80px;
}

.txt-black{
    color: black;
}

.no-decoration{
    text-decoration: none;
    list-style-type: none;
}


.display-flex{
    display: flex;
}

.jc-space-around{
    justify-content: space-around
}

.h-200{
    height: 200px;
}

/*_____ DEBUT DE LA NAVBAR _____ */
nav{
    background-color: #ffffff;
}

.navbar-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-link{
    margin: 1rem;
}

.navbar-link:hover{
    color: #C0D9F7;
}

/*_____ FIN DE LA NAVBAR _____ */


/*_____ DEBUT D CARROUSEL _____ */

.caroussel{
    position: relative;
    overflow: hidden;
}


#photo{
    height: 800px;
    margin: 0;
    display: inline-block;
    background-size: cover;
    width: 100%;
    transition: all 0.5s ease;
}

#g{
    left: 1rem;
    opacity: 0.4;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.bouton{
    position: absolute;
    width: 70px;
    cursor: pointer;
    top: 275px;
}

#d{
    right: 1rem;
    opacity: 0.4;
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

#g:hover{
    transform: scale(1.1);
    opacity:1;
}

#d:hover{
    transform: rotate(180deg) scale(1.1);
    opacity:1;
}

#container {
    height: 600px;
}


/*_____ FIN DU CARROUSEL _____ */
