*{
    font-family: 'Amaranth', 'Nunito', sans-serif;
    
}

body{
    border:0px;
    margin:0;
    font-size: 24px;
}

.w-100{
    width: 100%;
}

.m-10{
    margin:  0px 10px;
}

.m-0{
    margin: 0px;
}

.text-center{
    text-align: center;
}

.w-80{
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
}

.w-33{
    width: 32.9%;
}

/*_____ DEBUT DE LA NAVBAR _____ */
nav{
    background-color: #ffffff;
    border: solid 1px black;
}

.navbar-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-link{
    margin: 1rem;
}

.navbar-link:hover{
    color: #C0D9F7;
}

/*_____ FIN DE LA NAVBAR _____ */


/*_____ DEBUT D CARROUSEL _____ */

.caroussel{
    border: solid 4px #FFF;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}


.photo{
    height: 600px;
    margin: 0;
    display: inline-block;
    background-size: cover;
    width: 80%;
    position: absolute;
    left: 0;
    transition: all 0.5s ease;
}

.photo:nth-of-type(2){
    left: 80%;
}

.photo:nth-of-type(3){
    left: 160%;
}

#g{
    left: 1rem;
    opacity: 0.4;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.bouton{
    position: absolute;
    width: 70px;
    cursor: pointer;
    top: 275px;
}

#d{
    right: 1rem;
    opacity: 0.4;
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

#g:hover{
    transform: scale(1.1);
    opacity:1;
}

#d:hover{
    transform: rotate(180deg) scale(1.1);
    opacity:1;
}

#container {
    height: 600px;
    animation: carousel 10s infinite linear;
}

@keyframes carousel {
    0% { left: 0; }
    33.33% { left: -100%; }
    66.66% { left: -200%; }
    100% { left: 0; }
}

/*_____ FIN DU CARROUSEL _____ */
.logo{
    width: 200px;
    height: 80px;
}

.txt-black{
    color: black;
}

.no-decoration{
    text-decoration: none;
    list-style-type: none;
}


.block {
    display: flex;
    justify-content: space-around
}

.chiffres_bolder{
    font-size: 500%;
    font-weight: bolder;
}

.texte_bold{
    font-size: 200%;
    font-weight:normal;
}

.text-center {
    font-size: 100%;
    font-weight: bolder;

}